<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<style>
  footer a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark fixed-bottom navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>QuickNews</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="https://www.instagram.com/quicknews08?igsh=aXFpc2UyMXE0d3hk" target="_blank" style="margin: 0 10px; color: #E1306C;">
    <i class="fab fa-instagram fa-2x"></i>
  </a>
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=quicknews08@gmail.com" target="_blank">
  <i class="fas fa-envelope fa-2x"></i>
</a>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
         
          
         
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>
