<!DOCTYPE html>
<html>
<head>
	<title>User Details</title>
	{% include "head.html"%}

</head>
<body background="https://imgv3.fotor.com/images/share/Free-blue-gradient-pattern-background-from-Fotor.jpg">
  {% include "htemp.html" %}
	<br>
	<center><b><h1>EVENT ORGAZINER</h1></b></center>
	<center>
		<h2>User Details</h2>
	</center>

	<center>

		<font color="red"> {{msg}} </font>
	</center>
	<br>

<table align="center" border="1" class="table table-bordered">

	<tr>
		<b><th>Id</th>
		<th>Full Name</th>
		<th>Mobile Number</th>
		
		
		<th>No of Guest</th>
		<th>Food</th>
		<th>Plates</th>
		<th>Venue</th>

		<th>Theme</th>
		<th>EventType</th>
    
		<th>Event date</th>
    <th>delete</th></b>
		
	
	{% for d in data %}
	<tr>
		<td>{{d.id}}</td>
		<td>{{d.fullname}}</td>
		<td>{{d.mobilenumber}}</td>
		
    <td>{{d.quantity}}</td>
    <td>{{d.food}}</td>
		<td>{{d.plates}}</td>
		<td>{{d.venue}}</td>
		<td>{{d.theme}}</td>
		<td>{{d.eventtype}}</td>
		<td>{{d.date}}</td>
		

		
		
		
		
		<td>
		<form name="frm" method="post">
		<input type="hidden" name="aid"value="{{d.id}}">
		<input class="btn btn-danger" type="submit" name="delete" value="X">	
		{%csrf_token%}
		</form>
	</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>