<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        
        <li class="nav-item">
          <a class="nav-link" href="home1"><font color="white">Home</font></a>
        </li>
        
       
        
       
        

            <li class="nav-item">
          <a class="nav-link" href="completeregister"> <font color="white">Add Details</font></a>
        </li>     

<li class="nav-item">
          <a class="nav-link" href="searchregisters"> <font color="white">Your Activity</font></a>
        </li>  
        
 
        
        <li class="nav-item">
          <a class="nav-link" href="changepassword"> <font color="white">Change Password</font></a>
        </li>
        
          <li class="nav-item">
          <a class="nav-link" href="nav"> <font color="white">Logout</font></a>
        </li>
        </li>
        
      </ul>
    </div>
  </div>
</nav>